/*==============================================================================*/
/*==============================================================================*/
/*==============================================================================*/
.text-small {
    font-size: 85%;
}

.dropdown-toggle:not(:focus) {
    outline: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    border-top: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
    text-decoration: none;
    list-style: none;
    background-size: cover;
    background: linear-gradient(355deg, #ffc9b1 0, #ffad98 6.25%, 
    #ffa69b 12.5%, #ff8a8a 18.75%, #ff8190 25%, #ff7d9b 31.25%, #ff83af 37.5%, 
    #ff89c0 43.75%, #ff82cd 50%, #ff81dd 56.25%, #ff7cf4 62.5%, #ec80ff 68.75%, 
    #c97dff 75%, #a179ff 81.25%, #6f80ff 87.5%, #4885ff 93.75%, #005eff 100%);
}

nav {
    width: 100%;
    margin: auto;
}


/*==============================================================================*/
/*==============================================================================*/
/*==============================================================================*/
.menu-principal {
    list-style: none;
    text-decoration: none;
}


.menu-principal  li a{
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
}

.menu-principal > li:hover{
    background-color:rgba(0, 0, 0, 0.5);
}

.menu-principal a {
    list-style: none;
    text-decoration: none;

}

.menu-principal a:hover {
    color:white;
    background-color:rgba(0, 0, 0, 0.5);
}

/*==============================================================================*/

.menu-secundario{
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
    display: none;
    list-style: none;
    text-decoration: none;
    width: auto;
    background-color:rgba(0, 0, 0, 0.5);
}

.menu-principal li:hover .menu-secundario{
    display: block;
}

.menu-secundario li:hover{
    background-color:rgba(0, 0, 0, 0.5);
}

.menu-secundario li a{
    display: block;
    color:white;
}

/*==============================================================================*/
/*==============================================================================*/
/*==============================================================================*/
.header-ajustes{
    background-color: rgb(0, 0, 0,0.3);
    border-bottom: 0.7px;
}

.ventanas-gaps-divs{
    background-color: rgb(0, 0, 0, 0.0);
}

.ventanas-section{
    background-color: rgb(0, 0, 0,0.1);
    border: 10px;
    padding: 10px;
}

.ventanas-divs{
    background-color: rgb(0, 0, 0,0.2);
}

.formato-sections-divs{
    padding: 30px;
    border: 30px;
    margin: 10px;
}

.conteiner-img {
    border: solid 10px rgba(0, 0, 0, 0.3);
}

.conteiner-table {
    border: solid 1px rgb(0, 0, 0);
}

.boton-bordes-color {
    background-color: whitesmoke;
}

.animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

.footer-color {
    padding: auto;
    background-color:rgba(0, 0, 0, 0.2);
}

.presentacion-img {
    text-align: center;
    align-items: center;
}


.presentacion-ajustes {
    display: flex;
    align-items: center;
    flex-flow: row;
}